body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
}

.header-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.main-container {
    display: flex;
    margin-top: 0; /* Asegura que no haya espacio extra arriba */
}

.main-content {
    margin-right: 250px; /* Deja espacio para la barra lateral a la derecha */
    padding: 20px;
    width: calc(100% - 250px); /* Ajusta el ancho del contenido principal */
}

.sidebar {
    width: 250px; /* Ancho de la barra lateral */
    background-color: #00bfff; /* Color azul celeste */
    color: white;
    position: fixed; /* Fija la barra lateral en la pantalla */
    top: 9.1cm; /* Empieza debajo de la imagen de portada */
    right: 0;
    bottom: 0; /* Se extiende hasta el fondo de la ventana */
    overflow-y: auto; /* Añade una barra de desplazamiento si el contenido es más largo */
}

.sidebar-img {
    width: 100px; /* Ancho de la imagen circular */
    height: 100px; /* Alto de la imagen circular */
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Ajusta la imagen para que se ajuste al marco circular */
    display: block;
    margin: 0 auto 20px; /* Centra la imagen y agrega espacio debajo */
}

.sidebar ul {
    list-style-type: none; /* Elimina los puntos de lista */
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 15px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

.sidebar ul li a:hover {
    background-color: #575757; /* Color de fondo al pasar el ratón */
}

p {
    text-align: justify; /* Justifica el texto de los párrafos */
    margin-bottom: 20px; /* Espacio entre párrafos */
}

section {
    margin-bottom: 20px; /* Espacio entre secciones */
}
