body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.header-container {
    width: 100%;
    max-height: 30px; /* Ajusta esta altura según necesites */
    overflow: hidden;
}

.header-img {
    width: 100%;
    height: auto;
    object-fit: cover; /* Esto asegura que la imagen cubra todo el contenedor sin distorsionarse */
}

h1 {
    color: #00698f;
}


